<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>SKILLZSHARE</title>

	<link rel="stylesheet" type="text/css" href="assets/style.css" />
	<link rel="stylesheet" href="../app/components/index.css" type="text/css">

	<script>console.time('react-app')</script>
</head>

<body>

	<!-- This is where React will render the contents it generates -->
	<div id="app"></div>

	
	<!-- <script type="text/babel" src="../app/app.js"></script> -->

<!-- All of our JS code will be transpiled into this bundle.js file -->
	<script src="bundle.js"></script>
	
</body>

</html>
