body{
	background-image: url('../img/connect.png');
	padding-top: 70px;
}


.brandImg {
	width: 30px;
	height: auto;	
}

.titlearea {
	height: 200px;
}

.titlearea h1 {
	font-weight: bold
	color: #222222;

}

.photoArea {
	padding-bottom: 30px;
}


footer {
	background-color: #222222;
	padding-top: 10px;
	opacity: 0.5;
}


div.transbox h4 {
	color: #ffffff;
	padding-bottom: 30px;
}

footer p {
	color: #ffffff;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.logout-btn {
	margin-right: 8px;
}


.maincontainer {
	background-color: white;
	max-height: 100%;

}

.accountcontainer {
	background-image: url('../img/coffee2.jpeg');
	background-size: cover;
	opacity: 0.5;
	max-height: 100%;


}

.signupcontainer {
	background-color: #000000;
 	padding: 20px 15px;
 	margin: 20px 50px;
	max-width: 75%;
 	color: #f37346;
}
.signupForm {
	max-width: 50%;
	position: relative;
}

.logincontainer{
	padding: 20px 15px;
	margin: 20px 50px;
	max-width: 75%;
	color: #ffffff;
	background-color: #009f9b;
}
.loginForm{
	max-width: 50%;
	position: relative;
}

.userbackground {
	background-image: url('');
}

.mainPhoto {
}

.mainText {
	top: 50%;
	left: 50%;
}