body{
	background-image: url('../img/connect.png');
	padding-top: 70px;
}



.brandImg {
	width: 30px;
	height: auto;	
}

.titlearea {
	font-weight: bold;
	color: #2c39da;
	
}

.photoArea {
	padding-bottom: 30px;
}


footer {
	background-color: #222222;
	padding-top: 10px;
	opacity: 0.5;
}


div.transbox h4 {
	color: #ffffff;
	padding-bottom: 30px;
}

footer p {
	color: #ffffff;
	padding-bottom: 5px;
	margin-bottom: 5px;
}